header{
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

figcaption{
  font-size: medium;
  text-align: center;
}

nav{
  padding-left: 10px;
  padding-right: 10px;
}
#featured-property p{
  width: 800px;
  
}

#details div{
  float: left;
}

div{
  background-color: red;
  text-align: center;
  width: 25%;
}

.class p{
  text-align: center;
}
.styled-paragraph{
  font-size: none;
  text-align: center;
  margin: auto;
}



